body, p, h1, h3, h2, ul, li, blockquote {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Vollkorn", Georgia, serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

/* Grid Geral */

.wrap {
    display: grid;
    grid-template-columns: minmax(166px, 1fr) 3fr 300px;
    grid-template-areas: 
        "header header header"
        "sidenav content anuncios"
        "footer footer footer"
    ;
}

@media (max-width: 1200px) {
    .wrap {
        grid-template-areas: 
            "header header header"
            "sidenav content content"
            "sidenav anuncios anuncios"
            "footer footer footer"
        ;
    }
}

@media (max-width: 760px) {
    .wrap {
        grid-template-columns: 100%;
        grid-template-areas: 
            "header"
            "sidenav"
            "content"
            "anuncios"
            "footer"
        ;
    }
}

/* header */
.header {
    grid-area: header;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.loguinho {
    max-width: 200px;
    border-radius: 5px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header nav a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 1.125em;
    background: rgba(0,0,0,.1);
    border-radius: 5px;
    transition: 0.1s;
}

.header nav a:hover {
    background: rgba(0,0,0,.5);
}

.header li + li {
    margin-left: 30px;
}

@media (max-width: 760px) {
    .header {
        grid-template-columns: auto;
    }
    .loguinho {
        margin-bottom: 20px;
    }
    .header nav a {
        font-size: 1em;
    }
    .header li + li {
        margin-left: 17px;
    }
}

/* SIDENAV */
.sidenav {
    grid-area: sidenav;
    background: #fafbfc;
    padding: 30px;
}

.sidenav li a {
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin: 0 auto 30px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
    transition: .1s ease-out;
}

.sidenav li a:hover {
    background: #B07DFB;
}

@keyframes seta {
    from {
        right: 30px;
    }
    to {
        right: 20px;
    }
}

@media (max-width: 760px) {
    .sidenav {
        position: relative;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .sidenav::after {
        content: "→";
        position: absolute;
        top: 5px;
        right: 30px;
        color: rgba(0,0,0,.3);
        animation: seta .5s ease-in 0s infinite alternate;
    }
    .sidenav ul {
        display: flex;
    }
    .sidenav li {
        flex: 1 0 60px;
    }
    .sidenav {
        padding: 0 30px;
    }
    .sidenav li a {
        margin: 30px 30px 30px 0;
    }
}

/* CONTENT */
.content {
    grid-area: content;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

@media (max-width: 600px) {
    .content {
        grid-template-columns: auto;
    }
}

.col-wide {
    grid-column: 1 / -1;
}

.estilos {
    grid-column: span;
}

/* ESTILOS CONTENT */
p {
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color: rgba(0,0,0,.7);
}

.linkConteudo {
    color: black;
}

.info p + p {
    margin-top: 30px;
}

.info2 img + p {
    margin-top: 40px;
}

.legenda {
    font-style: italic;
    text-align: center;
}
.citacao {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
    background: linear-gradient(135deg, #8844ee, #B07DFB);
}

.citacao p {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    color: white;
    max-width: 500px;
    margin: 0 auto;
}

/* ESTILO TITULO */
.titulo {
    color: #B07DFB;
}

.titulo h1 {
    font-size: 3.75em;
    line-height: 1;
    font-weight: 700;
}

.titulo span {
    font-style: italic;
}

/* ESTILO TABELA */
.estilos{
    text-align: center;
}

.estilos table{
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin: 0 auto;
}

th{
	text-align: center;
	font-size: 14px;
	color: darkgray;
	font-weight: normal;
}

td{
	text-align: center;
    font-size: 14px;
    color: black;
}

table, td, th{
	padding: 7px 7px;
	border-bottom: solid 1px #e2e2e2;
	border-collapse: collapse;
}

.nomeEstilo{
    text-align: left;
}

tr:hover td{
    background-color: Gainsboro;
}

.estilos p {
    font-style: italic;
    color: #B07DFB;
}

.estilos .tabela + p {
    margin-top: 20px;
}

.conteudoBLP {
    color: black;
}

.info3 p + p {
    margin-top: 30px;
}

.info4 p + img{
    margin-top: 30px;
}

.info6 {
    text-align: center;
}

.info7 {
    display: flex;
    justify-content: center;
}

.info7 p + p {
    margin-left: 30px;
}

/* ANUNCIOS */
.anuncios {
    grid-area: anuncios;
    background: #fafbfc;
    display: grid;
    align-content: start;
    padding: 30px;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* FOOTER */
.footer {
    grid-area: footer;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
}

.footer p {
    color: white;
    text-align: center;
    padding: 30px;
}